<!DOCTYPE html>
<html lang="en" class="theme_switchable">
<head>
  <meta charset="UTF-8">
  <title>
      {% if title %}
         {{title}}
      {% endif %}
  </title>

  <link rel="shortcut icon" href={{ url_for('static', filename='favicon.ico') }}>

  <link rel='stylesheet' hrf='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css'>
  <link rel='stylesheet' href='https://static.fontawesome.com/css/fontawesome-app.css'>
  <link rel='stylesheet' href='https://pro.fontawesome.com/releases/v5.2.0/css/all.css'>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,700'>
  <link rel="stylesheet" href={{ url_for('static', filename='style.css') }}>
  
  <link rel="icon" href="" type="image/x-icon">
</head>
<body>
<div class="options">
   {% for chart in charts %}
      {% if loop.index == 1%}
         <div class="option active">
            <div class="shadow"></div>
            <div class="chart" id={{loop.index}}></div>
            <div class="label">
               <div class="icon">
                  <i class="fas {{ chart.Icon_Class }}"></i>
               </div>
               <div class="info">
                  <div class="main">{{ chart.Name }}</div>
                  <div class="sub">{{ chart.Description }}</div>
               </div>
            </div>
         </div>
      {% endif %}

      {% if loop.index > 1%}
         <div class="option">
            <div class="shadow"></div>
            <div class="chart" id={{loop.index}}></div>
            <div class="label">
               <div class="icon">
                  <i class="fas {{ chart.Icon_Class }}"></i>
               </div>
               <div class="info">
                  <div class="main">{{ chart.Name }}</div>
                  <div class="sub">{{ chart.Description }}</div>
               </div>
            </div>
         </div>
      {% endif %}
   {% endfor %}
   
</div>

<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src={{ url_for('static', filename='script.js') }}></script>

<script>
   document.addEventListener('DOMContentLoaded', function () {
      //Highcharts.chart('ID', chart_json)
      {% for chart in charts %}
         Highcharts.chart('{{loop.index}}', {{ chart.Chart_Data|tojson }})
      {% endfor %}
   })
</script>

</body>
</html>
