<!DOCTYPE html>
<html lang="en" class="theme_switchable">
<head>
  <meta charset="UTF-8">
  <title>
      {% if title %}
         {{title}}
      {% endif %}
  </title>

  <link rel="shortcut icon" href={{ url_for('static', filename='favicon.ico') }}>

  <link rel='stylesheet' hrf='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css'>
  <link rel='stylesheet' href='https://static.fontawesome.com/css/fontawesome-app.css'>
  <link rel='stylesheet' href='https://pro.fontawesome.com/releases/v5.2.0/css/all.css'>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,700'>
  <link rel="stylesheet" href={{ url_for('static', filename='style.css') }}>
  
  <link rel="icon" href="" type="image/x-icon">
</head>
<body>
<!-- partial:index.partial.html -->
<div class="options">
   
   <div class="option active">
      <div class="shadow"></div>
      <div class="chart" id="container"></div>
      <div class="label">
         <div class="icon">
            <i class="fas fa-walking"></i>
         </div>
         <div class="info">
            <div class="main">Main</div>
            <div class="sub">Sub</div>
         </div>
      </div>
   </div>
   <div class="option">
      <div class="shadow"></div>
      <canvas class="chart" id="bar-chart"></canvas>
      <div class="label">
         <div class="icon">
            <i class="fas fa-snowflake"></i>
         </div>
         <div class="info">
            <div class="main">Main</div>
            <div class="sub">Sub</div>
         </div>
      </div>
   </div>
   <div class="option">
      <div class="shadow"></div>
      <div class="label">
         <div class="icon">
            <i class="fas fa-tree"></i>
         </div>
         <div class="info">
            <div class="main">Main</div>
            <div class="sub">Sub</div>
         </div>
      </div>
   </div>
   <div class="option">
      <div class="shadow"></div>
      <div class="label">
         <div class="icon">
            <i class="fas fa-tint"></i>
         </div>
         <div class="info">
            <div class="main">Main</div>
            <div class="sub">Sub</div>
         </div>
      </div>
   </div>
   <div class="option">
      <div class="shadow"></div>
      <div class="label">
         <div class="icon">
            <i class="fas fa-sun"></i>
         </div>
         <div class="info">
            <div class="main">Main</div>
            <div class="sub">Sub</div>
         </div>
      </div>
   </div>
</div>

<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src={{ url_for('static', filename='script.js') }}></script>

<script>
   document.addEventListener('DOMContentLoaded', function () {
        const chart = Highcharts.chart('container', {
            chart: {
                type: 'bar'
            },
            title: {
                text: 'Fruit Consumption'
            },
            xAxis: {
                categories: ['Apples', 'Bananas', 'Oranges']
            },
            yAxis: {
                title: {
                    text: 'Fruit eaten'
                }
            },
            series: [{
                name: 'Jane',
                data: [1, 0, 4]
            }, {
                name: 'John',
                data: [5, 7, 3]
            }]
        });
    });

    let chart; // globally available
    document.addEventListener('DOMContentLoaded', function() {
        chart = Highcharts.stockChart('container', {
            rangeSelector: {
                selected: 1
            },
            series: [{
                name: 'USD to EUR',
           }]
       });
    });
</script>

</body>
</html>
